<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/events.css">
    <title>Events</title>
</head>

<body>
    <h1>Events</h1>
    <div class="nav-bar">
        <a href="/">Home</a>
        <a href="/matches">Matches</a>
        <a href="/events">Events</a>
        <a href="https://github.com/Alfred0404/rlcs_scrapper" target="_blank">Contribute</a>
        <a href="/login">Login</a>
    </div>
    <form method="POST" action="/events">
        <div class="input-group">
            <label for="region">Region :</label><br>
            <select name="region" id="">
                <option value=""> -- Select a region -- </option>
                <option value="EU">Europe</option>
                <option value="NA">North America</option>
                <option value="SAM">South America</option>
                <option value="OCE">Oceania</option>
                <option value="ME">Middle East</option>
                <option value="ASIA">Asia</option>
            </select><br>
        </div class="input-group">
        <div>
            <label for="event_name">Event :</label><br>
            <input type="text" id="event_name" name="event_name"><br>
        </div class="input-group">
        <div>
            <label for="after">After :</label><br>
            <input type="date" id="after" name="after"><br>
        </div class="input-group">
        <input class="submit-btn" type="submit" value="Submit">
    </form>
    <ul class="events-list-container">
        {% for event in events %}
        {% if event%}
        <li class="event">
            <div class="event-infos-container">
                {% for key, value in event.items() %}
                <p class="event-info" id="{{key}}">{{value}}</p>
                {% endfor %}
            </div>
        </li>
        <form action="/matches" method="POST">
            <input type="hidden" name="event" value="{{event.name}}">
            <input type="hidden" name="region" value="">
            <input type="hidden" name="team" value="">
            <input type="hidden" name="after" value="">
            <input class="get-event-matches" type="submit" name="get_event_matches" value="See matches">
        </form>
        {% endif %}
        {% endfor %}
    </ul>
</body>

</html>