<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/events.css">
    <title>Liste des Events</title>
</head>

<body>
    <h1>Events</h1>
    <form method="POST" action="/events">
        <label for="region">Region :</label><br>
        <select name="region" id="">
            <option value="EU">Europe</option>
            <option value="NA">North America</option>
            <option value="SAM">South America</option>
            <option value="OCE">Oceania</option>
            <option value="ME">Middle East</option>
            <option value="ASIA">Asia</option>
        </select><br>
        <label for="event_name">Event :</label><br>
        <input type="text" id="event_name" name="event_name"><br>
        <label for="after">After :</label><br>
        <input type="date" id="after" name="after"><br>
        <input type="submit" value="Submit">
    </form>
    <ul class="event-list-container">
        {% for event in events %}
        {% if event%}
        <li class="event">
            <h3>Event Infos :</h3>
            <ul class="event-infos-container">
                {% for key, value in event.items() %}
                <li class="event-info">{{key}} : {{value}}</li>
                {% endfor %}
            </ul>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</body>

</html>