<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="static/style.css">
    <script src="static/script.js"></script>
    <title>RL Esport</title>
</head>

<body>
    <h1>RL Esport</h1>
    <div class="nav-bar">
        <a href="/">Home</a>
        <a href="/matches">Matches</a>
        <a href="/events">Events</a>
        <a href="https://github.com/Alfred0404/rlcs_scrapper" target="_blank">Contribute</a>
        <a href="/login">Login</a>
    </div>
    <div class="content">
        <div class="description">
            <h1>What is RL Esport ?</h1>
            <p>RL Esport is a website that provides you with the latest information about Rocket League Esport 🏎️.<br>
                You can find the latest matches and events that are happening in the Rocket League Esport scene.<br>
                You can also contribute to the website by going to the contribute page.
            </p>
            <h1>Contributing</h1>
            <p>🙌 If you want to contribute to the website 🏎️, you can go to the contribute page and follow the
                instructions.<br>
                You can also contribute by reporting bugs 🪳 or suggesting new 🆕 features by opening an issue on the
                github
                repository.
            </p>
            <h1>How to use it ?</h1>
            <p>Just go to the matches or events page, and you'll be able to search 🔍 for what you want with different
                filters !</p>
        </div>
    </div>
</body>

</html>