<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/matches.css">
    <title>Liste des Matchs</title>
</head>

<body>
    <h1>Matches</h1>
    <form method="POST" action="/matches">
        <label for="region">Region :</label><br>
        <select name="region" id="">
            <option value="EU">Europe</option>
            <option value="NA">North America</option>
            <option value="SAM">South America</option>
            <option value="OCE">Oceania</option>
            <option value="ME">Middle East</option>
            <option value="ASIA">Asia</option>
        </select><br>
        <label for="team">Team :</label><br>
        <input type="text" id="team" name="team"><br>
        <label for="event">Event :</label><br>
        <input type="text" id="event" name="event"><br>
        <label for="after">After :</label><br>
        <input type="date" id="after" name="after"><br>
        <input type="submit" value="Submit">
    </form>
    <ul class="matches-list-container">
        {% for match in matches %}
        {% if match%}
        <li class="match">
            <h3>Match Infos :</h3>
            <ul class="match-infos-container">
                {% for key, value in match.items() %}
                <li class="match-info">{{key}} : {{value}}</li>
                {% endfor %}
            </ul>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</body>

</html>