<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/matches.css">
    <title>Liste des Matchs</title>
</head>

<body>
    <h1>Matches</h1>
    <div class="nav-bar">
        <a href="/">Home</a>
        <a href="/matches">Matches</a>
        <a href="/events">Events</a>
        <a href="https://github.com/Alfred0404/rlcs_scrapper" target="_blank">Contribute</a>
    </div>
    <form method="POST" action="/matches">
        <div class="input-group">
            <label for="region">Region :</label><br>
            <select name="region" id="">
                <option value=""> -- Select a region -- </option>
                <option value="EU">Europe</option>
                <option value="NA">North America</option>
                <option value="SAM">South America</option>
                <option value="OCE">Oceania</option>
                <option value="ME">Middle East</option>
                <option value="ASIA">Asia</option>
            </select><br>
        </div class="input-group">
        <div>
            <label for="team">Team :</label><br>
            <input type="text" id="team" name="team"><br>
        </div class="input-group">
        <div>
            <label for="event">Event :</label><br>
            <input type="text" id="event" name="event"><br>
        </div>
        <div class="input-group">
            <label for="after">After :</label><br>
            <input type="date" id="after" name="after"><br>
        </div>
        <input class="submit-btn" type="submit" value="Submit">
    </form>
    <ul class="matches-list-container">
        {% for match in matches %}
        {% if match%}
        <li class="match">
            <h3>Match Infos :</h3>
            <ul class="match-infos-container">
                {% for key, value in match.items() %}
                <li class="match-info">{{key}} : {{value}}</li>
                {% endfor %}
            </ul>
        </li>
        <form action="/notify" method="POST">
            <input type="hidden" name="match_info" value="{{match}}">
            <input class="get-notified" type="submit" name="get_notified" value="Get notified">
        </form>
        {% endif %}
        {% endfor %}
    </ul>
</body>

</html>